body {
    font-family: sans-serif;
    margin: 0 50px;
    background-color: #ade0d5d2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:https://cdn.wallpapersafari.com/49/66/nXGWoi.jpg;
  }
  
  .app {
    background-color: rgb(241, 190, 190);
    width: 600px;
    height: 500px;
    border: 10px solid #181819;
    border-radius: 8px;
    padding: 15px;
    overflow-y: scroll;
  }
  
  .app::-webkit-scrollbar {
    width: 0 !important;
  }
  
  #addNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(147, 217, 205, 0.35);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .fa-plus {
    background-color: #eea6a9;
    padding: 3px;
    border-radius: 3px;
  }
  
  #tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
  }
  
  #tasks div {
    border: 3px solid #e1159a;
    background-color: #95c6d6;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
  }
  
  #tasks div .options {
    justify-self: center;
    display: flex;
    gap: 20px;
  }
  
  #tasks div .options i {
    cursor: pointer;
  }
  
  #msg {
    color:black;
  }